.imgStyles {
  @apply bg-gradient-to-r from-blue-500 to-indigo-500;
  position: relative;
  overflow: hidden;
}

.cartoonImg {
  background: url('/assets/img2-opt.png') no-repeat;
  background-size: cover;
  background-position: 65% 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  /* width: 100%;
  height: 100%; */
  z-index: 1;
}

.cloud__one {
  background: url('/assets/cloud_1-opt.png') no-repeat;
  position: absolute;
  top: 65%;
  right: 100%;
  width: 180px;
  height: 100px;
  background-size: contain;
  z-index: 2;
  transform: translateX(280%);
  /* animation: cloud__one 25.5s ease-in 0.9s infinite; */
}

.cloud__two {
  background: url('/assets/cloud_2-opt.png') no-repeat;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 200px;
  height: 100px;
  background-size: contain;
  z-index: 0;
  transform: translateX(280%);
  /* animation: cloud__two 18.5s ease-in 0.9s infinite; */
}

@keyframes cloud__one {
  0% {
    transform: translateX(280%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes cloud__two {
  0% {
    transform: translateX(160%);
  }
  100% {
    transform: translateX(-250%);
  }
}
