@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1440px;
  margin: auto;
  scroll-behavior: smooth;
  font-family: var(--primary-font);
  background-color: #fff;
  /* overflow-x: hidden; */
  /* font-size: 1.1rem; */
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  text-align: center;
  color: #000;
  margin-top: 20px;
}

.transition-width {
  transition: width 0.8s;
}

.transition-height {
  transition: height 0.8s;
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.grid__image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em 2em;
}

.grid-pict {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@layer components {
  .btn-primary {
    @apply rounded py-1 px-4 text-white bg-teal-900 min-w-fit hover:bg-teal-700;
  }

  .btn-secondary {
    @apply rounded py-1 px-4 bg-gray-200 text-gray-800 min-w-fit;
  }

  .input-form {
    @apply w-full rounded border border-gray-700 py-1 px-2 text-gray-700 disabled:bg-slate-200;
  }

  .label-form {
    @apply text-sm;
  }

  .table__icon {
    @apply border-none bg-none cursor-pointer text-lg p-2.5 rounded-full;
  }

  .table__icon--edit {
    @apply text-blue-500 hover:bg-blue-50;
  }

  .table__icon--delete {
    @apply text-red-500 hover:bg-red-50;
  }

  .table__icon--add {
    @apply text-teal-500 hover:bg-teal-50;
  }
  .card {
    @apply relative p-4  text-gray-900 min-h-[20rem] overflow-hidden;
  }

  .badge {
    @apply mt-2 px-3 py-1 rounded-full text-xs bg-gray-200;
  }
  .product-title {
    @apply text-base text-left h-12;
  }
  .discount-percent {
    @apply bg-green-400 px-1.5 py-0.5 rounded-md text-xs text-white;
  }
  .button-primary {
    @apply bg-gray-700/80 hover:bg-gray-700/90 px-2 py-2 rounded-md text-white tracking-wider transition;
  }
  .button-icon {
    @apply w-8 h-8 flex justify-center items-center rounded-md bg-gray-300/60 hover:bg-gray-300/80 transition;
  }
}

/* Datatable */
.rdt_Table,
.rdt_TableCell,
.rdt_TableHeadRow {
  font-size: 16px;
}
